h1 {
    text-align: center;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-left: 725px;
    margin-top: 30px;
    border: solid;
    border-radius: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}